<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app id="ng-app">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
<script src="bower_components/angular/angular.min.js"></script>

<script type="text/javascript">
	function MyCtrl($scope, $http) {

		$scope.cacher = function() {
			document.getElementById('eve').style.display = 'none';
		};

		$scope.afficher = function() {
			document.getElementById('eve').style.display = '';
		};

		$scope.addPersonne = function() {
			var response = $http.post('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				$http({
					method : 'POST',
					url : '/rest/personnes/add',
					data : {
						name : $scope.name,
						firstname : $scope.firstname,
						nb_places_dispos : $scope.nb_places_dispos
					}
				}).success(
						function(data) {
							$scope.ee = data;
							var id = data;
							alert("Vous avez bien été inscrit. Votre id est le"
									+ id + " (à retenir) ! Merci");
						});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};

		$scope.addEvenement = function() {
			var response = $http.post('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				$http({
					method : 'POST',
					url : '/rest/evenements/add',
					data : {
						date : $scope.date,
						lieu : $scope.ville,
						heure : $scope.heure
					}
				}).success(function(data) {
					$scope.e = data;
					$scope.cacher();
					alert("L'évènement a bien été ajouté !");
				});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};

		$scope.getAllEvenement = function() {
			var response = $http.get('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				$http({
					method : 'GET',
					url : '/rest/evenements/list',
				}).success(function(data) {
					$scope.e = data;
					$scope.afficher();
				});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};

		$scope.addPersonneToEvenement = function() {
			var response = $http.post('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				var idp = $scope.idPersonne;
				var ide = $scope.idEvenement;
				$http(
						{
							method : 'POST',
							url : '/rest/evenements/addPersonneToEvenement/'
									+ idp + '/' + ide,
						}).success(function(data) {
					$scope.ee = data;
					$scope.cacher();
					alert("Vous avez bien été ajouté à l'évènement. Merci !");
				});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};

		$scope.chauff = function() {
			var response = $http.post('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				var idp = $scope.idPersonne;
				$http({
					method : 'POST',
					url : '/rest/personnes/Chauff/' + idp,
				}).success(function(data) {
					$scope.ee = data;
					alert("Vous conduirez cette fois !");
				});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};

		$scope.nochauff = function() {
			var response = $http.post('http://localhost:8080/');
			response.success(function(data, status, headers, config) {
				var idp = $scope.idPersonne;
				$http({
					method : 'POST',
					url : '/rest/personnes/noChauff/' + idp,
				}).success(function(data) {
					$scope.ee = data;
					alert("Vous ne conduirez pas cette fois !");
				});
			});
			response.error(function(data, status, headers, config) {
				alert("Erreur avec les données");
			});
		};
	}
</script>
</head>

<body onload="cacher()">

	<h1>
		<font color=brown">Blablucar : site de covoiturage de Rennes 1
			ISTIC</font>
	</h1>

	<table>
		<tr>
			<td>
				<div ng-controller="MyCtrl">
					<h2>
						<font color="green">Inscription sur le site</font>
					</h2>
					<h3>Prénom</h3>
					<input type="text" name="input" ng-model="name"> </input>
					<h3>Nom</h3>
					<input type="text" name="input" ng-model="firstname"> </input>
					<h3>Nombre de places (si propriétaire d'une voiture)</h3>
					<input type="text" name="input" ng-model="nb_places_dispos">
					</input>
					<h2>
						<button ng-click="addPersonne()">Je m'inscris</button>
					</h2>
				</div>
			</td>

			<td>
				<div ng-controller="MyCtrl">
					<h2>
						<font color="green">Création d'un évènement</font>
					</h2>
					<h3>Date</h3>

					<input type="date" name="input" ng-model="date"> </input>

					<h3>Heure (format XX (00-23))</h3>
					<input type="text" name="input" ng-model="heure"> </input>

					<h3>Lieu</h3>
					<input type="text" name="input" ng-model="ville"> </input>
					<h2>
						<button id="test" style="display: yes;" ng-click="addEvenement()">Ajouter
							un évènement</button>
					</h2>
				</div>
			</td>
		</tr>
	</table>

	<div id="table_events" ng-app ng-controller="MyCtrl"
		style="display: yes;">
		<h2>
			<font color="green">Evènements en cours</font>
		</h2>

		<div ng-controller="MyCtrl">
			<h3>
				<font color=grey>S'ajouter à un évènement</font>
			</h3>
			<h4>
				Votre ID personnel : <input type="number" name="input"
					ng-model="idPersonne"> </input>
			</h4>
			<h4>
				Le numéro d'évènement <input type="number" name="input"
					ng-model="idEvenement"> </input>
			</h4>
			<h4>
				<button ng-click="chauff()">Envie de conduire !</button>
				<button ng-click="nochauff()">Non, pas cette fois</button>
			</h4>

			<h2>
				<button ng-click="addPersonneToEvenement()">Je m'ajoute à
					l'évènement</button>
			</h2>
		</div>

		<h3>
			<font color=grey>Liste des évènements </font>
		</h3>

		<button ng-click="getAllEvenement()">Voir la liste</button>
		<button ng-controller="MyCtrl" ng-click="cacher()">Cacher la
			liste</button>

		<div id="eve">
			<div ng-repeat="eve in e" class='postBody'>
				<h2>Evènement n° {{eve.idEvenement}}</h2>
				<p>{{eve.date | date:'MMM d, y'}}</p>
				<p>Vers {{eve.lieu}}</p>
				<p>{{eve.heure}} h</p>
				<p>Etat actuel : {{eve.etat_places}}</p>
			</div>
		</div>

	</div>
</body>
</html>