<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app id="ng-app">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<script src="bower_components/angular/angular.min.js"></script>
<script>
	function EventsCtrlAjax($scope, $http) {

		$http({
			method : 'GET',
			url : 'events.json'
		}).success(function(data) {
			$scope.events = data;
		});
	}
	
	function PersonnesCtrlAjax($scope, $http) {

		$http({
			method : 'GET',
			url : 'personnes.json'
		}).success(function(data) {
			$scope.personnes = data;
		});
	}
	
	function ListCtrlAjax($scope, $http) {

		$http({
			method : 'GET',
			url : 'evenements/list'
		}).success(function(data) {
			$scope.personnes = data;
		});
	}
</script>
<!--  
<style>
body {
	font-family: arial;
	font-size: 12px;
	padding: 10px;
}

.postBody {
	width: 550px;
	border-bottom: dashed 2px #dedede
}

.postBody a {
	color: #333333;
	text-decoration: none
}

.postBody a:hover {
	color: #006699;
	background-color: #dedede
}

.time {
	margin: 10px 0px 10px 0px;
	color: #006699;
}
</style>
-->
</head>

<body>
	<h1>Blablucar : site de covoiturage de Rennes 1 ISTIC</h1>
	<div id="ng-app" ng-app ng-controller="EventsCtrlAjax">
		<div ng-repeat="evenement in events" class='postBody'>
			<h2>Evènement</h2>
			<!--  <h2><a href='{{post.url}}'>{{post.title}}</a></h2> -->
			<!--<div class='time'>{{post.time}} - {{post.author}} </div>-->
			<p>{{evenement.date}}</p>
			<p>{{evenement.lieu}}</p>
			<p>{{evenement.heure}}</p>
			<p>{{evenement.lp}}</p>
			<!-- <img ng-src="{{post.banner}}" style='width:550px'/> -->
		</div>
	</div>

	<div id="ng-app" ng-app ng-controller="PersonnesCtrlAjax">
		<div ng-repeat="personne in personnes" class='postBody'>
			<h2>Personne</h2>
			<p>{{personne.firstname}}</p>
			<p>{{personne.name}}</p>
			<p>Je dispose de {{personne.nb_places_dispos}} place(s)</p>
		</div>
	</div>
	
	<div id="ng-app" ng-app ng-controller="ListCtrlAjax">
		<div ng-repeat="event in evenements/list" class='postBody'>
			<h2>event</h2>
			<p>{{event.heure}}</p>
		</div>
	</div>
</body>
</html>
